{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.
{sub_dirs,["rel"]}.

{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", "master"}
    },
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
%%You've gotta make this!
    {'json', ".*", {
        git, "git://github.com/hio/erlang-json.git", "master"}
    }
]}.
